*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #160f24;
    color: #ffffff;
    font-size: 1.6rem;
}

html, body {
    min-height: 100vh;
    min-width: 100%;
}

#map {
    height: 20rem;
}

#myChart {
    height: 20rem;
    padding: 1.6rem;
    width: 100%;
    /* background: red;  */
}

.statistics {
    display: flex;
    justify-content: center;
    width: 100%;
}

.statistics__inner-container {
    background-color: #211636;
    border-radius: 0.3rem;
    margin: 1.6rem;
    padding: 3.2rem;
    width: 100%;
}

.statistics__heading {
    margin-bottom: 3.2rem;
}

.statistics__heading, .statistics__item-heading, .statistics__item-text {
    text-align: center;
}

.statistics__item {
    margin-bottom: 1.6rem;
}