*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #160f24;
    color: #ffffff;
    font-size: 1.6rem;
}

html, body {
    min-height: 100vh;
    min-width: 100%;
}

#map {
    height: 20rem;
}

#myChart {
    padding: 1.6rem;
    padding-top: 0;
    width: 100%;
}

.statistics {
    display: flex;
    justify-content: center;
    width: 100%;
}

.statistics__inner-container {
    background-color: #211636;
    border-radius: 0.3rem;
    margin: 1.6rem;
    margin-top: 3.2rem;
    padding: 3.2rem;
    width: 100%;
}

.statistics__heading {
    margin-bottom: 3.2rem;
}

.statistics__heading, .statistics__item-heading, .statistics__item-text {
    text-align: center;
}

.statistics__item {
    margin-bottom: 1.6rem;
}

.search {
    display: flex;
    justify-content: center;
}

.search__inner-container {
    background-color: #ffffff;
    border-radius: 0.3rem;
    position: absolute;
    transform: translateY(-50%);
}

.search__input {
    padding: 0.8rem;
}

.search__input, .search__button {
    background-color: transparent;
    border: none;
}

.search__input, .fas.fa-search {
    color: #160f24;
}